@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<body>
    <div class="container  mt-5">


        <h1>@ViewData["Title"]</h1>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <div class="row mt-5">
                    <div class="col-6 offset-2 align-self-center">

                        <h2>Are you sure to log out?</h2>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-6 offset-3">

                        <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <div>
                                <button type="submit" class="nav-link btn btn-success">Click here to Logout</button>
                            </div>
                        </form>
                    </div>
                </div>

                <br />
                <br />
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }


    </div>
</body>